.hero {
    padding-bottom: 149px;
}

.hero__title {
    font-weight: 500;
    font-size: 72px;
    color: #3d3d3f;
    width: 515px;
    margin-bottom: 42px;
}

.hero__text {
    font-weight: 400;
    font-size: 20px;
    color: #3d3d3f;
    width: 536px;
    margin-bottom: 40px;
}

.hero__btn {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(180deg, #f35f2f 0%, rgba(243, 95, 47, 0.75) 100%);
    padding: 15px 28px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}